@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body{
    /* CSS */
    background-color: #dadada;
    font-family:'Poiret One', serif;
    font-size: 25px;
    letter-spacing:2px;
    color: white;
    margin: 0;
    position: relative;

    /* background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover; */

}

main {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white  ;
  background-color: transparent;
  text-decoration: underline;
}

p{
    width: 100%;
    margin: 0 auto;
   
}


/* img{
    display:block;
    width:20%;
    margin:0 auto;
} */

img {
    width: 100%;
}


a:link, a:visited{
    
}